.tile {
  background-size: contain;
  border-radius: 10px;
  border-style: groove;
  position: relative;
  float: left;
}

.tile .action {
  position: absolute;
  border-radius: 10px;
  border: 2px solid red;
}

.tile .action.doable {
  border: 2px solid green;
}

.tile .action.doable:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  cursor: pointer;
}